

span.hours:after,
span.minutes:after {
  content: ":";
}

div.box {
  font-size: 100px;
  font-family: helvetica, sans-serif;
  display: block;
  width: 450px;
  margin: 0 auto;
}

div.border {
  width: 400px;
  height: 5px;
  background-color: black;
}

#myProgress {
    position: relative;
    width: 25%;
    height: 5px;
    width: 450px;
    margin: 0 auto;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: black;
}
